body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.first,
.second,
.third,
.fourth{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.first-text,
.second-text{
    margin: 10px;
    margin-left: 0px;
}

.content button{
    background-color: blue; 
    color: aliceblue; 
    border: 1px solid white;
    font-weight: bold;
    border-radius: 4px;
}

button{
    width: 100px;
    height: 20px;
    box-shadow: none;
    outline: none;
    border-style: solid;
}

.hero-text{
    text-align: left;
}

.first{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.header-links{
    color: #E5E7EB;
}   

.first-text{
    font-size: 48px; 
    color: #F9FAF8;
    font-weight: 900;
}

.secont-text p{
    font-size: 18px; 
    color: #F9FAF8;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    color: #F9FAF8;
}

.content{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 50px;
    gap: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

li{
    list-style: none;
    margin: 0 15px;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person{
    border-radius: 10;
    border-color: black;
    margin: 10px;
}

.person img{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid blue;
}

.people{
    display: flex;
}

.third{
    background-color: #e5e7eb;

}

.third p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.CTA{
    background-color: rgba(70, 70, 243, 0.753);
    border-radius:7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
    margin: 50px;
    width: 100%;
}

.sign-up{
    border: solid #ffffff;
    border-style: none;
    border-radius: 4px;
    align-self: center;
    margin-left: auto;
    background-color:rgba(70, 70, 243, 0.753);
}

.CTA h3,
.CTA p{
    margin: 10px;
}

.fourth{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.footer{
    display: flex; 
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    padding: 30px;
    color: white;
}


