body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font: roboto;
    margin: 0;

}

.first{
    background-color: #1F2937;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;

}

.header-links{
    color: #E5E7EB;
}   

.first-text{
    font-size: 48px; 
    color: #F9FAF8;
    font-weight: 900;
}

.secont-text{
    font-size: 18px; 
    color: #E5E7EB;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    color: #F9FAF8;
}

.content{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 50px;
    gap: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

li{
    list-style: none;
    margin: 0 15px;
}